<div class="px-1">
    <form class="">
        <div class="mb-3 d-flex gap-2 flex-column ">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="name">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone">
            <label for="select" class="form-label">Origem:</label>
            <select class="form-select" aria-label="Default select example">
                <option value="1" selected>Celular</option>
                <option value="2">telefone</option>
            </select>
            <label for="exampleFormControlInput1" class="form-label">Data do contato:</label>
            <input type="date" class="form-control" id="exampleFormControlInput1">
            <label for="exampleFormControlTextarea1" class="form-label">Observação:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
